<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title>fast_springboot_project</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>

</head>
<body>

<!-- Image and text -->
<nav class="navbar navbar-light bg-light" >
  <a class="navbar-brand" href="/">
    <!-- <img th:src="@{/images/logo.png}" width="300" height="50" class="d-inline-block align-top" alt="" /> -->
    <h1>HOME</h1>
  </a>
</nav>
<div layout:fragment="content"></div>
<script th:src="@{/js/jquery-3.2.1.min.js}" ></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap4.0.0-beta.min.js}"></script>
</body>
</html>